DB_ADDRESS="mongodb://admin:qwerty12345@127.0.0.1:27017/mestodb?authSource=admin"
JWT_SECRET="abra_cadabra_focus_pocus"
NODE_ENV="production"
DEPLOY_USER="user"
DEPLOY_HOST="IP HERE"
DEPLOY_PATH="/home/user/mesto"
DEPLOY_REPO="https://github.com/voidtask/nodejs-pm2-deploy.git"
DEPLOY_REF="origin/master"